.Containers {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: none;
}
div {
    font-family: Inter;
    font-weight: 600;
    line-height: 30px;
    color: white;
}
button {
    font-family: Inter;
    font-weight: 600;
    line-height: 30px;
    color: white;
    border: none;
}
.HeaderCategoriesContainers {
    gap: 6px;
}

:root {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: 'Inter var', sans-serif;
    }
}

.FooterAndHeaderText {
    font-family: Inter;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: white;
    text-align: center;
    align-items: center;
    display: flex;
}
#SearchField {
    flex-direction: row;
    padding: 0px 0px 0px 10px;
    gap: 5px;
    background: white;
    border: 2px solid #4E4E50;
    box-shadow: inset 0px 4px 4px rgba(0,0,0,0.25);
    border-radius: 25px;
    width: 375px;
    height: 46px;
    align-items: center;
    display: flex;
}

#SearchTextArea {
    font-family: Inter;
    font-weight: 400;
    background: unset;
    width: 85%;
    height: 100%;
    font-size: 20px;
    line-height: 30px;
    color: #4E4E50;
    resize: none;
    border-width: 0;
    overflow-wrap: unset;
}

#SearchTextArea:focus-visible {
    outline-width: 0px;
}
div:any-link {
    text-decoration: none;
}
div:any-link:hover {
    color: #00EF0E;
    animation-duration:3s;
}
a:any-link {
    text-decoration: none;
    color: blue;
}

    a:any-link:hover {
        color: #00EF0E;
    }
.DiscountTitleLink {
    line-height:25px;
}
    .DiscountTitleLink:hover {
        /*color: #4E4E50;*/
        opacity: 40%;
        transition-duration: 300ms;
    }
.BackButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 18px;
    background: #4E4E50;
    border-radius: 5px;
    font-size: 20px;
    align-self: flex-start;
    border: none;
}
    .BackButton:hover {
        background-color: white;
        color: #4E4E50;
        transition-duration: 500ms;
        cursor: pointer;
    }
.Cursor-pointer{
    cursor: pointer;
}